/* ===========MAIN=========== */

/* MAIN
→ section → ...
→ section → ...
→ section → ...
*/

main {
  margin-top: 5rem;
  margin-inline: auto;
  width: 90vw;

  &>section:nth-of-type(1) {
    display: flex;
    justify-content: space-around;

    &>img {
      max-width: 40vw;
      margin-block-end: auto;
    }

    &>article {
      padding: 5rem 2rem 0 4rem;
      width: 50vw;

      &>p {
        margin-top: 3rem;
        font-size: 2rem;
      }

      &>h3 {
        margin-top: 3rem;
      }

      &>section {
        width: 100%;
        overflow-x: scroll;
        scrollbar-color: white transparent;
        scrollbar-width: scroll;

        &>div {
          display: flex;

          &>article {
            scroll-snap-align: center;
            min-width: 48%;
            padding: 2rem;
            margin-block: 2rem;
            margin-inline: 1%;
            border-radius: 5%;
            box-shadow: 1px 1px 5px 0px var(--color-blanco);
            background: linear-gradient(90deg,
                var(--color-azul), var(--color-morado-secundario));

            &>h4 {
              border-bottom: .2rem solid var(--color-blanco);
            }

            &>h5 {
              margin-block: 1rem;
            }

            &>ul {
              list-style-type: none;
            }
          }
        }
      }
    }
  }

  &>section:nth-of-type(2) {
    margin-top: 8rem;

    &>h1 {
      display: inline-block;
      border-bottom: .5rem solid var(--color-blanco);
    }

    &>section {
      margin: 5rem auto 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1rem;

      &>div {
        margin-bottom: 5rem;
        width: 26vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        &>h3 {
          text-align: center;
          padding-block-end: .5rem;
          margin-bottom: 3rem;
          border-block-end: 4px solid white;
          width: inherit;
        }

        &>img {
          max-height: 400px;
          aspect-ratio: 3/4;
          object-fit: cover;
        }
      }
    }

  }

  &>section:nth-of-type(3) {
    margin-top: 5rem;

    &>h2 {
      text-decoration: underline;
    }

    &>div:nth-of-type(1),
    p {
      margin-top: 3rem;
    }

    &>p,
    li {
      font-size: 2rem;
    }

    &>div>ul>li {
      margin-bottom: .5rem;
    }
  }
}

@media (max-width:1150px) {
  main>section:nth-of-type(1) {
    flex-direction: column;
    align-items: center;

    &>img {
      max-width: 60vw;
    }

    &>article {
      width: 85vw;
    }
  }
}

@media (max-width:1000px) {
  main>section:nth-of-type(2)>section>div {
    width: 35vw;
  }
}

@media (max-width:770px) {
  main>section:nth-of-type(2)>section {
    align-content: center;
    flex-direction: column;
  }
}


@media (max-width:600px) {
  main {
    &>section:nth-of-type(1) {

      &>img {
        max-width: 90vw;
      }

      &>article {
        margin: 5rem 0;
        padding: 0;

        &>p {
          margin-top: 2rem;
        }

        &>section>div>article {
          min-width: 99%;
        }
      }
    }

    &>section:nth-of-type(2) {
      margin-top: 0rem;

      &>h1 {
        border-bottom: none;
      }

      &>section>div {
        width: 100%;
      }
    }

    &>section:nth-of-type(3)>div>ul>li {
      margin-left: 1rem;
    }
  }
}