/* VARIABLES ROOT/FUENTES */

/* VALOR FUENTES
→ 'Roboto', sans-serif;
*/

:root {
  --color-morado: #4e00cc;
  --color-azul: #0142e5;
  --color-rosa: #ce52e1;
  --color-blanco: #f1f1f1;
  --color-morado-secundario: #4f0bc2;
  --color-azul-claro: #25cfe9;

  & h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  li,
  p {
    color: var(--color-blanco);
  }
}

/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(
    260deg,
    var(--color-rosa),
    var(--color-morado),
    var(--color-rosa)
    );
  overflow-y: auto;
  scrollbar-width: thin;

  & a {
    text-decoration: none;
  }

  & p,
  a,
  li,
  ul {
    font-size: 1.6rem;
  }

  & h1 {
    font-size: 4rem;
  }

  & h2 {
    font-size: 3.5rem;
  }

  & h3 {
    font-size: 3rem;
  }

  & h4 {
    font-size: 2.5rem;
  }

  & h5 {
    font-size: 2rem;
  }

  & h6 {
    font-size: 1.5rem;
  }

  & img {
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem 0.2rem var(--color-azul-claro);
  }
}

/* ===========HEADER=========== */

/* HEADER
→ section → ...
→ nav → ...
*/

header {
  height: 15rem;
  display: grid;
  grid-template: 1fr 1fr / 1fr;

  /* ===========H1=========== */
  /* SECTION
  → div
  → div → a* → span
  */
  &>section {
    background-color: var(--color-blanco);
    height: 6rem;
    display: flex;
    flex-direction: row;
    width: 100%;

    &>div {
      height: inherit;
    }

    &>div:nth-of-type(1) {
      width: 40%;
    }

    &>div:nth-of-type(2) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 2rem;
      margin-right: 4rem;
      width: 60%;

      &>a {
        font-size: 3rem;
        height: 4rem;
        width: 4rem;
        text-align: center;
        line-height: 4rem;
        color: var(--color-azul);
        background-color: var(--color-blanco);
        border-radius: 50%;
        box-shadow: 0 0 1rem 0.2rem var(--color-azul-claro);
      }
    }

  }

  /* ===========H2=========== */
  /* NAV
  → section → a → img
  → section → a*,button,aside→a
  */

  >nav {
    background-color: var(--color-azul);
    height: 9rem;
    display: flex;
    align-items: center;

    &>section:nth-of-type(1) {
      margin-left: 5dvw;
      width: 20%;

      &>a {
        &>img {
          height: 10rem;
          border-radius: 2rem;
          box-shadow: 0 0 1rem .4rem var(--color-azul-claro);
        }
      }
    }

    &>section:nth-of-type(2) {
      width: 80%;
      display: flex;
      justify-content: flex-end;
      gap: 2rem;
      margin: 3dvw;

      &>a {
        font-weight: bold;
        border-bottom: solid 0.2rem var(--color-blanco);
      }

      &>button {
        display: none;
      }
    }
  }
}

/* ===========FOOTER=========== */

/* FOOTER
→ section → h1,div...,div...,h6
*/

footer {
  background-color: var(--color-azul);
  margin-top: 5rem;
  padding-top: 1rem;

  &>section {
    width: 70dvw;
    margin: auto;
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-areas:
      "titulo titulo"
      "div1 div2"
      "term term";

    &>h1 {
      grid-area: titulo;
    }

    &>div {
      width: 40dvw;
    }

    &>div:nth-of-type(1) {
      grid-area: div1;


      &>ul>li {
        margin-bottom: 1rem;

        &>p {
          text-indent: 2rem;

          &:nth-of-type(1) {
            text-indent: 0rem;
          }

          &:nth-of-type(2) {
            margin-top: .4rem;
          }
        }
      }
    }

    &>div:nth-of-type(2) {
      grid-area: div2;
      display: flex;
      justify-content: space-between;

      &>article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 40%;
      }

      &>img {
        height: 13rem;
        border-radius: 50%;
      }
    }

    &>h6 {
      grid-area: term;
      text-align: center;
      margin-bottom: 2rem;

      &>p {
        font-size: 1.1rem;
        font-weight: lighter;
      }
    }

  }
}

/* ===========QUERIES=========== */

.inactive {
  display: none;
}

.cambio {
  >div:nth-of-type(1) {
    transform: rotate(45deg);
  }

  >div:nth-of-type(2) {
    opacity: 0;
  }

  >div:nth-of-type(3) {
    transform: rotate(-45deg);

  }
}

/* ===========QUERIES=========== */

@media (max-width:500px) {
  header {
    &>section {
      &>div:nth-of-type(2) {
        margin-right: 1rem;

        &>a:nth-of-type(4) {
          display: none;
        }
      }
    }

    &>nav {
      &>section:nth-of-type(1) {
        margin-left: 1rem;

        >a>img {
          height: 7rem;
        }
      }

      &>section:nth-of-type(2) {
        &>a {
          display: none;
        }

        &>a:nth-of-type(1),
        button {
          display: inline;
          border-bottom: none;
          text-decoration: underline;
        }

        &>button {
          display: flex;
          flex-direction: column;
          inline-size: 3rem;
          block-size: 3rem;
          border: none;
          background-color: transparent;
          gap: .85rem;

          &>div {
            background-color: var(--color-blanco);
            block-size: .2rem;
            inline-size: 100%;
            border-radius: .5rem;
            transition: all .5s;
            transform-origin: left;
          }
        }

        &>aside {
          margin-top: 3rem;
          position: absolute;
          width: 50dvw;
          background-color: var(--color-blanco);
          padding: 1rem;
          border-radius: 5%;

          &>a {
            color: var(--color-azul);
            display: block;
            margin: 1rem 0;
            font-weight: bold;
          }
        }
      }
    }
  }

  footer {
    margin-top: 7rem;
    margin: none;

    &>section {
      width: 90dvw;
      grid-template-areas:
        "titulo"
        "div2"
        "div1"
        "term";
      justify-content: initial;
      justify-items: initial;

      &>h1 {
        text-align: center;
      }

      &>div {
        width: 90dvw;
      }

      &>div:nth-of-type(2) {
        margin: 3rem 0;

        &>article {
          margin-left: 0%;
        }
      }

      &>h6 {
        margin-top: 1rem;
      }
    }
  }
}